.advantages {
  background-color: $color-secondary-grey;

  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin: 5px 0;

    font-size: 22px;
    line-height: 33px;
    text-align: left;
    color: #102654;
    text-transform: none;
  }

  p {
    margin: 0;

    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
  }


  span {
    &:first-child {
      font-weight: 700;
      font-size: 71px;
      line-height: 71px;
      color: transparent;

      background: $gradient-advantages-figure;
      background-clip: text;
    }

    &:last-child {
      font-size: 14px;
      line-height: 14px;
      color: $color-blue;
    }
  }

  .advantages__container {
    padding-top: 70px;
    padding-bottom: 25px;
  }

  .advantages__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
  }

  .advantages__block {
    display: flex;
    justify-content: space-between;
  }

  .advantages__box {
    display: flex;
    justify-content: space-between;
    width: 42%;
    padding: 49px 60px 80px 77px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    padding: 10px;
  }
}

.advantages__block:first-of-type {

  & > .advantages__box {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 13%;

      width: 70%;
      height: 2px;

      background: rgba(209, 10, 66, 0.2);
    }
  }
}

.advantages__block--special {
  position: absolute;
  top: 15%;
  left: calc(50% - 121px);

  flex-direction: column;
  width: 240px;
  padding: 50px 34px;

  text-align: center;
  color: $color-default-white;

  background-color: $color-primary-black;

  & span:first-child {
    font-size: 74px;
    line-height: 80px;
    color: $color-default-white;
  }

  & span:last-child {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    color: $color-default-white;
  }

  p {
    margin: 31px 0 8px;

    font-size: 16px;
    line-height: 24px;
  }
}
