.advantages {
  background-color: $color-secondary-grey;

  @include vp-1199 {
    h2 {
      margin-bottom: 40px;
    }

    h3 {
      font-size: 20px;
      line-height: 22px;
    }

    span {
      &:first-child {
        font-size: 58px;
        line-height: 60px;
      }
    }

    .advantages__container {
      padding-top: 52px;
      padding-bottom: 94px;
    }

    .advantages__box {
      width: 48%;
      padding: 0;
    }

    .advantages__item {
      margin-right: 30px;
      padding: 0;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  @include vp-767 {
    h2 {
      margin-bottom: 43px;
    }

    h3 {
      margin-top: 7px;
      margin-bottom: 3px;

      line-height: 30px;
      text-align: center;
    }

    p {
      padding: 0;

      text-align: center;
    }

    .advantages__container {
      padding-top: 21px;
      padding-bottom: 20px;
    }

    .advantages__wrapper {
      flex-direction: column;
    }

    .advantages__block {
      flex-direction: column;
      padding-bottom: 10px;

      &--special {
        padding-bottom: 36px;
      }
    }

    .advantages__box {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 34px;
    }

    .advantages__item {
      align-items: center;
      width: 79%;
      margin-right: 0;
    }
  }


  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin: 5px 0;

    font-size: 22px;
    line-height: 33px;
    text-align: left;
    color: #102654;
    text-transform: none;
  }

  p {
    margin: 0;

    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }


  span {
    &:first-child {
      font-weight: 700;
      font-size: 71px;
      line-height: 71px;
      color: transparent;

      background: $gradient-advantages-figure;
      background-clip: text;
    }

    &:last-child {
      font-size: 14px;
      line-height: 14px;
      color: $color-blue;
    }
  }

  .advantages__container {
    padding-top: 70px;
    padding-bottom: 27px;
  }

  .advantages__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
  }

  .advantages__block {
    display: flex;
    justify-content: space-between;
  }

  .advantages__box {
    display: flex;
    justify-content: space-between;
    width: 42%;
    padding: 48px 51px 80px 77px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    padding: 10px;
  }
}

.advantages__block:first-of-type {
  & > .advantages__box {
    position: relative;

    @include vp-1199 {
      &::after {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 13%;

      width: 70%;
      height: 2px;

      background: rgba(209, 10, 66, 0.2);
    }
  }
}

.advantages__block--special {

  position: absolute;
  top: 15%;
  left: calc(50% - 119px);

  flex-direction: column;
  width: 240px;
  padding: 50px 35px;

  text-align: center;
  color: $color-default-white;

  background-color: $color-primary-black;

  @include vp-767 {
    width: 100%;
    margin: 0;
    padding-top: 35px;

margin-bottom: 40px;

    & span:last-child {
      line-height: 20px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -15px;

      width: 15px;
      height: 100%;

      background-color: $color-primary-black;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -15px;

      width: 15px;
      height: 100%;

      background-color: $color-primary-black;
    }
    p {
      width: 100%;
      padding: 0 25px;
    }
  }
  @include vp-1199 {
    position: relative;
    top: auto;
    left: auto;

    width: 65.2%;
    margin-top: 45px;
    margin-right: auto;
    margin-bottom: 42px;
    margin-left: auto;
    padding: 32px;

    & p {
      margin-top: 12px;
      padding: 0 100px;

      font-size: 16px;
      line-height: 24px;
    }

    & div {
      display: flex;
      flex-direction: column;
    }

    & span:first-child {
      font-size: 74px;
      line-height: 80px;
    }

    & span:last-child {
      font-size: 22px;
      line-height: 28px;
    }
  }

  & span:first-child {
    font-size: 74px;
    line-height: 80px;
    color: $color-default-white;
  }

  & span:last-child {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    color: $color-default-white;
  }

  p {
    margin: 31px 0 8px;

    font-size: 16px;
    line-height: 24px;
  }
}
