.application {
  color: $color-default-white;
  h2 {
    max-width: 201px;
    margin: 0;

    font-size: 90px;
    line-height: 90px;
    font-family: "Bebas Neue";
    text-align: left;
    letter-spacing: 0.03em;
    word-wrap: break-word;
  }

  p {
    margin: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
display: flex;
justify-content: flex-start;
align-items: center;
word-wrap: none;
  }
  span {
 word-wrap: break-word;
    &:first-child {
      font-size: 40px;
      line-height: 60px;
      font-weight: 700;
      margin-right: 5px;
    }

    &:last-child {
      font-size: 14px;
      line-height: 21px;

      width: 50%;
    }

    &:only-child {
      font-size: 40px;
      line-height: 60px;
      font-weight: 700;
      word-wrap:normal;
    }
  }

  a {
    margin-top: 49px;
    padding: 25px;
  }
  .application__container {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
  }

  .application__block {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    padding: 83px 77px 20px 77px;

    background: $color-primary-red;
  }

  .application__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .application__timeset {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .application__time {
    display: flex;
    flex-direction: column;
  }
}
