.application {
  color: $color-default-white;

  @include vp-1199 {
    a {
      margin-top: auto;
      padding: 13px 12px 12px 12px;

      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.05em;

      border-width: 2px;
    }

    h2 {
      font-size: 52px;
      line-height: 52px;
      text-align: left;
      letter-spacing: 0.03em;
    }

    p {
      font-size: 12px;
      line-height: 13px;
    }

    span {
      margin-top: 5px;

      &:first-child {
        font-size: 24px;
        line-height: 28px;
      }

      &:last-child {
        font-size: 10px;
        line-height: 12px;
      }

      &:only-child {
        font-size: 24px;
        line-height: 24px;
      }
    }

    .application__container {
      padding-top: 99px;
    }

    .application__block {
      width: 43%;
      padding: 50px 45px 40px 45px;
    }

    .application__img {
      width: 57%;
    }
    .application__info {
      margin-bottom: 2px;
    }

    .application__timeset {
      justify-content: flex-start;
      width: 57px;
    }

    .application__data {
      &--time {
        margin-bottom: 7px;
      }
    }
  }

  h2 {
    max-width: 201px;
    margin: 0;

    font-size: 90px;
    line-height: 90px;
    font-family: "Bebas Neue";
    text-align: left;
    word-wrap: break-word;
  }

  img {
    height: 100%;

    object-fit: cover;
  }

  p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    word-wrap: none;
  }

  span {
    margin-top: 3px;

    word-wrap: break-word;

    &:first-child {
      margin-right: 5px;

      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
    }

    &:last-child {
      width: 50%;

      font-size: 14px;
      line-height: 21px;
    }

    &:only-child {
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      word-wrap: normal;
    }
  }

  a {
    margin-top: 49px;
    padding: 25px;
  }

  .application__container {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
  }

  .application__block {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    padding: 83px 75px 20px 78px;

    background: $color-primary-red;
  }

  .application__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .application__timeset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .application__time {
    display: flex;
    flex-direction: column;
  }
}


.application__data {
  @include vp-1199 {
    & p:last-of-type {
      &::before {
        top: 3px;

        width: 100%;
      }
    }

    &--time {
      & p:last-of-type {
        &::before {
          width: 75%;
        }
      }
    }
  }
  & p:last-of-type {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;

      width: 90%;
      height: 1px;

      background: $color-default-white;
    }
  }

  &--time {
    & p:last-of-type {
      &::before {
        width: 68%;
      }
    }
  }
}
