.coaches {
  @include vp-1199 {
    .coaches__container {
      padding-top: 50px;
      padding-bottom: 86px;
    }

    .coaches__info {
      left: calc(50% - 134px);

      width: 268px;
    }

    .coaches__img {
      left: calc(50% - 134px);

      background: none;
    }

    img {
      width: 268px;
      height: 294px;
    }

    h2 {
      margin-bottom: 42px;

      font-size: 42px;
      line-height: 42px;
      text-align: center;
    }

    h3 {
      width: 100%;
      margin-right: 0;
      margin-left: 20px;

      text-align: left;
    }

    h4 {
      margin-right: 35px;
    }

    .coaches__slider {
      width: 83.5%;
    }
  }

  @include vp-767 {
    h2 {
      font-size: 32px;
      line-height: 32px;
    }

    h4 {
      margin-right: 25px;
    }

    li {
      margin-bottom: 13px;

      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .coaches__container {
      padding-top: 22px;
      padding-bottom: 58px;
    }

    .coaches__slider {
      width: 78%;
    }

    .coaches__img {
      left: calc(50% - 113px);
    }

    .coaches__info {
      left: calc(50% - 113px);

      width: 226px;
      padding: 52px 24px 42px 24px;
    }

    img {
      width: 226px;
      height: 274px;
    }

    .coaches__button {
      top: 62.5%;

      width: 10px;
      height: 19px;

      &--previous {
        left: 4%;
      }

      &--next {
        right: 4%;
      }
    }
  }

  .coaches__container {
    padding-top: 70px;
    padding-bottom: 107px;
  }

  img {
    width: 260px;
    height: 294px;

    object-fit: cover;
  }

  h2 {
    display: block;
    margin-top: 48px;
    margin-bottom: 52px;

    font-weight: 700;
    font-size: 49px;
    line-height: 49px;
    font-family: "Bebas Neue", "Arial", sans-serif;
    text-align: left;
    letter-spacing: 0.03em;
  }

  h3 {
    margin-top: 22px;
    margin-right: 7px;
    margin-bottom: 0;

    font-size: 18px;
    line-height: 27px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
  }

  ul {
    @include reset-ul;
  }

  li {
    margin-bottom: 13px;

    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .coaches__slider {
    position: relative;
  }

  .coaches__img {
    position: absolute;
    top: 0;
    z-index: 1;

    width: 100%;
    height: fit-content;

    background-color: $color-primary-black;
  }

  .coaches__info {
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px 40px 22px 48px;

    color: $color-default-white;
  }

  .coaches__button {
    top: 253px;
  }
}

.coaches__item {
  position: relative;

  display: flex;
  align-items: flex-end;
  width: 260px;
  height: 294px;
  overflow: hidden;

  @include vp-1199 {
    .coaches__img {
      pointer-events: auto;
    }

    &--hover {
      &::after {
        left: calc(50% - 134px);

        width: 268px;
      }
    }
  }

  @include vp-767 {
    height: 274px;

    &--hover {
      &::after {
        left: calc(50% - 113px);

        width: 226px;
      }
    }
  }

  touch-action: auto;

  &--hover {
    @include set-hover();
  }
}

.coaches__skills {
  display: none;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 22px;
  overflow: auto;

  @include vp-767 {
    padding-left: 25px;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  h4 {
    align-self: center;
    margin-top: 0;
    margin-right: 28px;
    margin-bottom: 35px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    color: $color-lightgrey;
  }

  li {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: -15px;

      width: 6px;
      height: 6px;

      background-color: $color-default-white;
      border-radius: 90%;
    }
  }
}
