.coaches {
  @include vp-1199 {
    .coaches__container {
      padding-top: 50px;
      padding-bottom: 100px;
    }
    .coaches__img {


    }

    img {

width: 268px;
height: 294px;

    }
    h2 {
      margin-bottom: 42px;
    }
    .coaches__slider {
      width: 83.5%;

    }
    // .coaches__wrapper {
    //   height: 294px;
    // }
    .coaches__item {
width: 268px;

    }
    li {
      background-color: darkblue;
    }
  }
  .coaches__container {
    padding-top: 70px;
    padding-bottom: 115px;
  }

  h2 {
    margin-bottom: 52px;

    text-align: left;
  }

  h3 {
    margin-top: 22px;
    margin-right: 7px;
    margin-bottom: 0;

    font-size: 18px;
    line-height: 27px;
    font-family: "Roboto Condensed";
    // letter-spacing: 0;
  }

  ul {
    @include reset-ul;
  }

  .coaches__slider {
    position: relative;;
  }

  .coaches__wrapper {

  }

  .coaches__item {
    position: relative;
display: flex;
align-items: flex-end;
    width: 260px;
height: 294px;
    // overflow: hidden;

    &:hover {
      &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;

        width: 100%;
        height: 100%;

        background: $color-primary-black-opacity-089;
      }


      & .coaches__skills {
        display: flex;
      }
    }
  }

  .coaches__img {
    position: absolute;
    top: 0;
    z-index: 1;

    width: 100%;
    height: fit-content;
  }

  .coaches__info {
    position: relative;
    z-index: 10;
width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    // overflow: scroll;
    height: 100%;
    padding: 30px 40px 22px 48px;

    color: $color-default-white;
  }

  .coaches__button {
    top: 253px;
  }

  .coaches__skills {
    display: none;
    flex-grow: 1;
  }
}

.coaches__skills {
  flex-direction: column;

  h4 {
    align-self: center;
    margin-top: 0;
    margin-right: 7px;
    margin-bottom: 35px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    font-family: "Roboto Condensed";
    color: $color-lightgrey;
  }

  li {
    margin-bottom: 13px;
    margin-left: 23px;

    font-size: 14px;
    line-height: 21px;
  }
}
