.feedback {
  background: $gradient-feedback;
  border-top: 1px solid $color-darkgrey;

  @include vp-1199 {
    background: none;
    border: none;

    h2 {
      font-size: 42px;
      line-height: 42px;
      text-align: center;
    }

    h4 {
      margin-bottom: 12px;

      font-size: 20px;
      line-height: 20px;
    }

    p {
      font-size: 18px;
    }

    a {
      font-size: 18px;
    }

    .feedback__container {
      flex-direction: column;
      padding: 0;
      padding-bottom: 22px;
    }

    .feedback__wrapper {
      padding: 13px 0;
    }

    .feedback__block {
      width: 100%;
      padding: 21px 163px 30px 133px;

      &--form {
        background: $color-primary-black;
      }
    }

    .feedback__box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 152px;
      padding-left: 47px;

      &--border {
        width: 56.6%;
        padding-left: 0;
      }

      &::after {
        top: 13%;

        height: 86%;
      }
    }
  }

  @include vp-767 {
    h2 {
      font-size: 32px;
      line-height: 32px;
    }

    .feedback__container {
      padding-bottom: 30px;
    }

    .feedback__block {
      padding: 22px 15px;
    }

    .feedback__wrapper {
      flex-direction: column;
      padding-bottom: 0;
    }

    .feedback__box {
      padding: 0;

      &--border {
        width: 100%;

        &::after {
          display: none;
        }
      }
    }

    p {
      width: 100%;
      margin-bottom: 13px;
    }

    a {
      width: 100%;
      margin-bottom: 13px;
    }
  }

  h2 {
    display: block;
    margin-top: 48px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 49px;
    line-height: 49px;
    font-family: "Bebas Neue", "Arial", sans-serif;
    text-align: center;
    letter-spacing: 0.03em;
  }

  h4 {
    margin-top: 16px;
    margin-bottom: 4px;
  }

  a {
    margin: 0;
    display: block;
    font-size: 14px;
    line-height: 21px;

    &:hover,
    &:focus {
      outline-color: $color-outline-yellow;
    }
  }

  p {
    margin: 0;

    font-size: 14px;
    line-height: 21px;
  }

  .feedback__container {
    display: flex;
  }

  .feedback__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 58px;

    &--form {
      color: $color-default-white;
    }

    &--contacts {
      padding-left: 120px;
    }
  }

  .feedback__wrapper {
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding-left: 3px;
  }

  .feedback__box {
    padding-left: 58px;

    &--border {
      position: relative;

      width: 51%;
      padding-left: 0;

      &::after {
        content: "";
        position: absolute;
        top: 19%;
        right: 0;

        width: 1px;
        height: 77%;

        background: $color-darkgrey;
      }
    }
  }
}
