.footer {
  background-color: $color-default-black;
  color: $color-default-white;

  ul {

    @include reset-ul;

  }

  .footer__container {
    padding-top: 44px;
    padding-bottom: 44px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }


}
