.footer {
  color: $color-default-white;

  background-color: $color-default-black;

  @include vp-767 {
    .footer__container {
      padding-top: 45px ;
      padding-bottom: 52px;
      padding-right: 15px;
    }

    .footer__logo {
      width: 68px;
      height: 15px;
    }
    .footer__nav {
      margin-top: -20px;
      margin-bottom: 18px;
      padding: 0;
    }
  }
  @include vp-1199 {
    .footer__container {
      padding-right: 40px;
    }
    .footer__logo {
      flex-shrink: 0;
      width: 82px;
      height: 17px;
    }

    .footer__nav {
      padding: 4px 4px;
      padding-left: 30px;
    }

    .footer__socials {
      padding-top: 4px;
    }

    svg {
      width: 100%;
    }
  }
  @include vp-767 {
    .footer__container {
      flex-direction: column;
    }
  }

  & svg {
    display: inline-block;
    // width: 100%;

    vertical-align: middle;
  }
  .footer__logo {
    padding-top: 4px;
  }

  .footer__nav {
    padding: 0 30px 0 68px;
  }
  ul {
    @include reset-ul;
  }

  a {
    font-size: 14px;
    line-height: 16px;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 41px;
    padding-bottom: 41px;
  }
}
