.form {
  width: 100%;

  @include vp-1199 {
    fieldset {
      width: 100%;
      padding: 27px 0;
    }
    p {
      width: 44%;
font-size: 14px;
    }
  }
  fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 86.5%;
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-right: 90px;

    border: none;
  }

  p {
    width: 46.5%;
  }

  input {
    width: 100%;
    padding-bottom: 5px;

    background: none;
    border: none;
    border-bottom: $color-darkgrey 1px solid;
    color: $color-default-white;

    &::placeholder {
      color: $color-default-white;
    }
  }

  button {
    width: 100%;
    margin-top: 28px;
    padding: 17px;

    letter-spacing: 0.15em;
  }
}
