.gym {
  min-height: 756px;
  h2 {
    margin-bottom: 10px;
  }

  span {
    margin-bottom: 45px;

    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

  }

  p {
    margin-top: 0;
    margin-bottom: 8px;
    letter-spacing: -0.01em;

  }

  .gym__container {
    position: relative;

    display: flex;
    padding-top: 120px;
  }

  .gym__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 60px;
    padding-right: 40px;
  }

  .gym__img {
    flex-shrink: 0;
    width: 56.9%;
    height: fit-content;
    margin-left: 40px;
  }

  .gym__video {
    position: absolute;
    top: 78.5%;
    left: 39.5%;
  }
}
