.gym {
  min-height: 756px;

  @include vp-1199 {
    min-height: 854px;

    h2 {
      margin-bottom: 14px;
    }

    span {
      margin-bottom: 40px;
    }

    p {
      width: 74%;

      text-align: center;

      &:last-of-type {
        display: none;
      }
    }

    .gym__container {
      flex-direction: column;
      padding-top: 50px;
    }

    .gym__info {
      align-items: center;
      margin-bottom: 34px;
      padding: 0;
    }

    .gym__img {
      width: 100%;
      height: 345px;
      margin-left: 0;
      overflow: hidden;
    }

    .gym__video {
      top: 587px;
      left: calc(50% - 133px);
    }
  }

  @include vp-767 {
    min-height: 925px;

    h2 {
      margin-top: 70px;
      margin-bottom: 10px;
    }

    span {
      margin-bottom: 30px;
    }

    p {
      width: 90%;

      text-align: left;
    }

    .gym__container {
      padding: 0;
    }

    .gym__info {
      align-items: flex-start;
      margin-bottom: 23px;
      padding: 0 15px;
    }

    .gym__img {
      margin-bottom: 40px;
    }

    .gym__video {
      position: relative;
      top: 0;
      left: 0;

      width: 100%;
    }
  }


  h2 {
    margin-bottom: 10px;
  }

  span {
    margin-bottom: 45px;

    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }

  p {
    margin-top: 0;
    margin-bottom: 8px;

    letter-spacing: -0.01em;
  }

  .gym__container {
    position: relative;

    display: flex;
    padding-top: 120px;
  }

  .gym__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 40px;
    padding-left: 60px;
  }

  .gym__img {
    flex-shrink: 0;
    width: 56.9%;
    height: fit-content;
    margin-left: 40px;

    background-color: $color-bg-gym;
  }

  .gym__video {
    position: absolute;
    top: 78.5%;
    left: 39.5%;
  }
}
