.gym {
  min-height: 756px;

  @include vp-1199 {
    min-height: auto;

    h2 {
      margin-bottom: 14px;

      font-size: 42px;
      line-height: 42px;
      text-align: center;
    }

    span {
      margin-bottom: 40px;
    }

    p {
      width: 74%;

      text-align: center;

      &:last-of-type {
        display: none;
      }
    }

    .gym__container {
      flex-direction: column;
      padding-top: 50px;
      padding-bottom: 183px;
    }

    .gym__info {
      align-items: center;
      margin-bottom: 34px;
      padding: 0;
    }

    .gym__img {
      width: 100%;
      height: 345px;
      margin-left: 0;
      overflow: hidden;
    }

    .gym__video {
      top: auto;
      bottom: 267px;
      max-width: 350px;
      left: calc(50% - 133px);
    }
  }

  @include vp-767 {
    min-height: 925px;

    h2 {
      margin-top: 70px;
      margin-bottom: 10px;

      font-size: 32px;
      line-height: 32px;
    }

    span {
      margin-bottom: 30px;
    }

    p {
      width: 90%;

      text-align: left;
    }

    .gym__container {
      padding: 0;
    }

    .gym__info {
      align-items: flex-start;
      margin-bottom: 23px;
      padding: 0 15px;
    }

    .gym__img {
      height: auto;
      margin-bottom: 40px;
    }

    .gym__video {
      position: relative;
      top: 0;
      left: 0;
      max-width: 100%;
      width: 100%;
      margin-bottom: 70px ;
    }
  }

  img {
    width: 100%;
  }

  h2 {
    display: block;
    margin-top: 48px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 49px;
    line-height: 49px;
    font-family: "Bebas Neue", "Arial", sans-serif;
    text-align: center;
    letter-spacing: 0.03em;
  }

  span {
    margin-bottom: 45px;

    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }

  p {
    margin-top: 0;
    margin-bottom: 8px;

    letter-spacing: -0.01em;

    &:last-of-type {
      margin-bottom: 30px;
    }

  }

  .gym__container {
    position: relative;

    display: flex;
    padding-top: 120px;
  }

  .gym__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 40px;
    padding-left: 60px;
  }

  .gym__img {
    flex-shrink: 0;
    width: 56.9%;
    height: fit-content;
    margin-left: 40px;

    background-color: $color-bg-gym;
  }

  .gym__video {
    position: absolute;
    top: 78.5%;
    top:408px;
    left: 39.5%;
  }
}
