.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 30px 0 68px;

  a {
    padding: 10px;

    color: inherit;
  }

  ul {
    display: flex;
  }

  li {
    margin-right: 20px;
  }
}
