.nav {
  display: flex;
  justify-content: center;
  width: 100%;


  @include vp-1199 {
    li{
      margin-right: 10px;
    }
  }
  a {
    padding: 10px;

    color: inherit;
  }

  ul {
    display: flex;
  }

  li {
    margin-right: 20px;
  }
}
