.offers {
  margin-bottom: 98px;

  @include vp-1199 {
    margin-bottom: 68px;

    .offers__container {
      padding-top: 52px;
      padding-bottom: 0;
    }

    .offers__wrapper {
      flex-direction: column;
    }

    .offers__box {
      flex-direction: row;
      width: 100%;

      &--special {
        margin-bottom: 30px;
      }
    }

    .offers__info {
      padding-right: 30px;
    }

    .offers__img {
      width: 59%;
    }

    .offers__block {
      width: 48%;
      padding-top: 20px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 30px;
      }
    }

    h2 {
      margin-bottom: 39px;
      font-size: 42px;
      line-height: 42px;
      text-align: center;
    }
  }

  @include vp-767 {
    margin-bottom: 40px;

    h2 {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 42px;
    }

    p {
      line-height: 23px;
      text-align: center;
    }

    a {
      align-self: center;
      margin-top: 25px;
    }

    .offers__container {
      padding-top: 22px;
    }

    .offers__info {
      align-items: center;
      padding-top: 50px;
    }

    .offers__box {
      flex-direction: column;
    }

    .offers__img {
      width: 100%;
    }

    .offers__block {
      align-items: center;
      width: 100%;
      margin-bottom: 30px;
      padding-top: 32px;
    }
  }

  h2 {
    display: block;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-align: center;

    margin-top: 48px;
    margin-bottom: 52px;

    font-size: 49px;
    line-height: 49px;
    font-family: "Bebas Neue", "Arial", sans-serif;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 6px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 26px;
    line-height: 31px;
    text-align: left;
  }

  p {
    margin: 0;
  }

  a {
    align-self: flex-start;
    margin-top: auto;

    &:hover,
    &:focus {
      outline-color: $color-primary-red;
    }
  }

  .offers__container {
    padding-top: 69px;
    padding-bottom: 20px;
  }

  .offers__img {
    flex-shrink: 0;
    width: 50%;
  }

  .offers__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .offers__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 560px;

    &--special {
      flex-direction: row;
      flex-wrap: nowrap;
      background-color: $color-primary-red;
    }
  }

  .offers__block {
    display: flex;
    flex-direction: column;
    min-height: 211px;
    padding: 29px;
    padding-top: 25px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    border: solid;
    border-width: 7px;
    border-image-source: $gradient-border;
    border-image-slice: 1;
  }

  .offers__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px;

    color: $color-default-white;
  }
}

.offers__box--special {
  @include vp-767 {
    h3 {
      margin-right: 15px;

      line-height: 100px;

      &::before {
        top: -25%;
        left: calc(50% - 20px);
      }
    }

    p {
      margin-right: 12px;

      line-height: 24px;
      text-align: center;
    }

    a {
      align-self: center;
      margin-top: 32px;
      margin-right: 13px;
    }
  }

  h3 {
    position: relative;

    margin-top: 7px;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 109px;
    font-family: "Roboto Condensed", "Arial", sans-serif;

    &::before {
      content: "Год";
      position: absolute;
      top: -17.5%;

      font-size: 28px;
      line-height: 44px;
    }
  }

  p {
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
  }

  a {
    margin-top: auto;

    &:hover,
    &:focus {
      outline-color: $color-default-white;
    }
  }
}
