.page {
  box-sizing: border-box;
  min-width: 320px;
  height: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $color-primary-black;
  letter-spacing: 0;

  scroll-behavior: smooth;
}

.page__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__main {
  flex-grow: 1;
}

.page a,
.page input,
.page button {
  // border-radius: 3px;

  &:hover {
    outline: 3px solid $color-default-white;
    opacity: 0.8;

    @include vp-767 {
      outline: none;
    }
  }

  &:focus {
    outline: 3px solid $color-default-white;
  }

  &:active {
    outline: 3px solid $color-default-white;
  }

  &:disabled {
    opacity: 0.1;
  }
}

.page h1,
.page h2 {
  display: block;

  font-weight: 700;
  font-family: "Bebas Neue", "Arial", sans-serif;
  text-align: center;
  letter-spacing: 0.03em;
  // color: $color-primary-black;
}

.page h2 {
  margin-bottom: 52px;
}
.page h3 {
  display: block;
  font-weight: 700;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-align: center;
  letter-spacing: 0em;
}

.page h1 {
  font-size: 109px;
  line-height: 109px;
}

.page h2 {
  margin-top: 48px;
  margin-bottom: 10px;

  font-size: 49px;
  line-height: 49px;
}

.page h3 {
  margin-top: 0;
}

.page svg {
  display: inline-block;

  vertical-align: middle;
}
