.reviews {
  margin-bottom: 120px;

  @include vp-767 {
    margin-bottom: 70px;

    h2 {
      margin-top: 30px;
      margin-bottom: 42px;

      font-size: 32px;
      line-height: 32px;
    }

    h3 {
      width: 44%;
      margin-bottom: 25px;
      margin-left: auto;

      text-align: left;
    }

    ul {
      width: 100%;
    }

    li {
      padding: 50px 25px 34px 25px;
    }

    p {
      line-height: 22.3px;
      text-align: center;
    }

    img {
      width: 68px;
      height: 68px;
    }

    .reviews__wrapper {
      margin: 0 11%;
    }

    .reviews__info {
      width: 100%;
    }

    .reviews__img {
      position: absolute;
      top: 40px;
      left: 18%;

      margin: 0;
    }
  }

  @include vp-1199 {
    margin-bottom: 100px;

    h2 {
      margin-bottom: 40px;

      font-size: 42px;
      line-height: 42px;
      text-align: center;
    }

    ul {
      width: 566px;
    }

    li {
      padding-left: 66px;
    }

    .reviews__wrapper {
      margin: 0 8.2%;
    }

    .reviews__button {
      top: 53%;

      &--previous {
        left: 0.5%;
      }

      &--next {
        right: 0.5%;
      }
    }
  }

  h2 {
    display: block;
    margin-top: 48px;
    margin-bottom: 52px;

    font-weight: 700;
    font-size: 49px;
    line-height: 49px;
    font-family: "Bebas Neue", "Arial", sans-serif;
    text-align: center;
    letter-spacing: 0.03em;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 13px;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    letter-spacing: 0.03em;
  }

  p {
    margin: 0;

    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06;
  }

  ul {
    width: 560px;

    @include reset-ul;
  }

  li {
    display: flex;
    justify-content: space-between;
    padding: 58px 62px 56px 62px;

    color: $color-default-white;

    background-color: $color-darkblue;
    box-shadow: $color-shadow-review;
  }

  img {
    width: fit-content;
    height: fit-content;
  }

  svg {
    display: inline-block;

    vertical-align: middle;
  }

  .reviews__wrapper {
    min-height: 242px;
    margin: 0 25.85%;
  }

  .reviews__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 76%;
  }

  .reviews__img {
    flex-shrink: 0;
    margin-top: 4px;
    margin-right: 27px;
  }

  .reviews__button {
    top: 53%;

    &--previous {
      left: 21%;
    }

    &--next {
      right: 21%;
    }
  }
}
