.slider {
  position: relative;


  &--nojs {
    .slider__wrapper {
      flex-wrap: wrap;
    }

    .slider__item {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  .slider__button {
    width: 16px;
    height: 32px;

    background-color: transparent;
    background-image: url("../../img/sprite/vector.svg");
    background-size: contain;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      outline-color: $color-lightgrey;
    }

    @include vp-767 {
      width: 10px;
      height: 19px;
    }

    &::after {
      display: none;
    }

    &--previous {
      left: 47px;
    }

    &--next {
      right: 47px;

      transform: scale(-1, 1);
    }
  }
}
