.subscription {
  position: relative;

  background-color: $color-secondary-grey;

  @include vp-1199 {
    height: auto;

    h2 {
      margin-bottom: 15px;
      font-size: 42px;
      line-height: 42px;
      text-align: center;
    }

    .subscription__container {
      padding-top: 51px;
      padding-bottom: 59px;
    }

    .subscription__option {
      margin-right: 55px;

      font-size: 18px;
      line-height: 27px;
    }

    .subscription__tabs {
      padding-top: 6px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .subscription__img {
      top: 82.1%;
      right: 0;
    }

    ul {
      flex-direction: column;
      align-items: center;
    }

    li {
      width: 70%;
      margin-bottom: 41px;
      margin-right: 0;
    }

    .subscription__button {
      width: 70%;
    }
  }

  @include vp-767 {
    h2 {
      margin-bottom: 5px;
      font-size: 32px;
      line-height: 32px;
    }

    h4 {
      font-size: 22px;
      line-height: 22px;
    }

    p {
      margin-top: 45px;
      margin-bottom: 10px;

      font-size: 48px;
    }

    svg {
      width: 24px;
      height: 33px;
      margin-left: 10px;
    }

    b {
      top: 25%;

      font-size: 80px;
    }

    .subscription__container {
      padding-top: 22px;
      padding-bottom: 35px;
    }

    li {
      width: 100%;
      margin-bottom: 35px;
      padding: 46px 34px 37px;
    }

    .subscription__img {
      display: none;
    }

    .subscription__nav {
      justify-content: space-between;
      width: 100%;
      margin-bottom: 34px;
    }

    .subscription__option {
      margin-right: 0;
      padding-bottom: 13px;

      font-size: 16px;
    }

    .subscription__tabs {
      padding: 0;
    }

    .subscription__button {
      width: 100%;
    }
  }

  h2 {
    display: block;
    margin-top: 48px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 49px;
    line-height: 49px;
    font-family: "Bebas Neue", "Arial", sans-serif;
    text-align: center;
    letter-spacing: 0.03em;
  }

  h3 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
  }

  h4 {
    margin: 0;
    margin-bottom: 10px;

    font-size: 26px;
    line-height: 28.64px;
  }

  button {
    &:hover,
    &:focus {
      outline-color: $color-opacity-red;
      border-radius: 7px;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include reset-ul;
  }

  li {
    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;
    margin-bottom: 30px;
    margin-right: 40px;
    padding: 55px 69px 50px;

    background-color: $color-default-white;
    border: 7px solid transparent;

    &:last-child {
      margin-right: 0;
    }
  }

  b {
    position: absolute;
    top: 30%;

    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    color: $color-primary-grey;

    opacity: 0.48;
  }

  p {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 66px;
    margin-bottom: 24px;

    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $color-primary-blue;
  }

  svg {
    margin-left: 14px;
  }

  .subscription__container {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  .subscription__nav {
    position: relative;

    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 38px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;

      width: 100%;
      height: 2px;

      background-color: rgba(120, 120, 120, 0.2);
    }

    &--nojs {
      display: none;
    }
  }

  .subscription__button {
    width: 100%;
    padding: 23px 23px 25px;

    color: $color-primary-black;

    border: 2px solid $color-darkblue;

    &:hover,
    &:focus {
      color: $color-default-white;

      background: $gradient-button;
      border: none;
    }
  }

  .subscription__img {
    position: absolute;
    top: 59.5%;
    right: 0;
    z-index: 0;
  }

  .subscription__option {
    box-sizing: border-box;
    margin-right: 48px;
    padding: 14px 0;

    font-size: 20px;
    line-height: 30px;
    color: $color-primary-black-opacity-05;

    background: none;
    border: none;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }

    &--active {
      position: relative;

      color: $color-primary-black;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 2px;

        background: $color-secondary-red;
      }
    }
  }
}


.subscription li:hover {
  border: solid;
  border-width: 7px;
  border-image-source: $gradient-border;
  border-image-slice: 1;

  & a {
    padding-top: 25px;

    color: $color-default-white;

    background: $gradient-button;
    border: none;
  }
}
