.subscription {
  background-color: $color-secondary-grey;

  h2 {
    margin-bottom: 20px;
  }

  h4 {
    margin: 0;
    margin-bottom: 10px;

    font-size: 26px;
    line-height: 28.64px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include reset-ul;
  }

  li {
    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin-bottom: 30px;
    padding: 55px 69px 50px;

    background-color: $color-default-white;
    border: 7px solid transparent;

    &:hover {
      border: solid;
      border-width: 7px;
      border-image-source: $gradient-border;
      border-image-slice: 1;
    }
  }

  b {
    position: absolute;
    top: 30%;

    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    color: #e8e8e8;

    opacity: 0.48;
  }
  p {
    position: relative;

    margin-top: 64px;
    margin-bottom: 26px;

    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $color-primary-blue;
  }

  .subscription__container {
    position: relative;

    padding-top: 70px;
    padding-bottom: 90px;
  }

  .subscription__nav {
    position: relative;

    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 38px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;

      width: 100%;
      height: 2px;

      background-color: rgba(120, 120, 120, 0.2);;
    }

    &--nojs {
      display: none;
    }
  }

  .subscription__button {
    width: 100%;
    padding: 23px 23px 25px;

    color: $color-primary-black;

    border: 2px solid $color-darkblue;

    &:hover {
      color: $color-default-white;

      background: $gradient-button;
      border: none;
    }
  }

  .subscription__img {
    position: absolute;
    top: 59.5%;
    right: -13.4%;
    z-index: 0;
  }

  .subscription__option {
    box-sizing: border-box;
    margin-right: 48px;
    padding: 14px 0;

    font-size: 20px;
    line-height: 30px;

    background: none;
    border: none;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "" ;
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 2px;

        background: $color-secondary-red;
      }
    }
  }
}


.subscription li:hover {
  & a {
    padding-top: 25px;

    color: $color-default-white;

    background: $gradient-button;
    border: none;
  }
}
