.video {
  width: 364px;
  height: 228px;

  @include vp-767 {
    .video__cover {
      position: relative;
    }
  }
  @include vp-1199 {
    width: 266px ;
    height: auto;
svg {
        width: 23%;
      height: 23%;}
    .video__button {
      width: 52px;
      height: 52px;


      &::after {
        background-size: cover;
      }
    }
  }

  .video__container {
    position: relative;

    width: 100%;
    height: 100%;

    background-color: $color-darkgrey;
  }

  .video__cover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: none;
  }


  .video__link {
    position: relative;


    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: rgba(20, 54, 122, 0.5);
    }
  }

  .video__media {
    width: 100%;
    height: 100%;

    border: 0;
  }

  .video__button {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;

    width: 73px;
    height: 73px;
    padding: 0;

    background: $gradient-video-button;
    border: 0;
    border-radius: 90%;
    transform: translate(-50%, -50%);
    cursor: pointer;


    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 150%;
      height: 150%;

      background-color: transparent;
      background-image: url("../../img/svg/ellipse.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translate(-50%, -50%);
    }

    &:hover {
      transform-origin: center;
      opacity: 1;

      transition: all 0.1s;
    }

    & svg {
      margin-bottom: 3px;
      margin-left: 3px;


    }
  }
}

.video--enabled {
  cursor: pointer;
}
