@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rouble";

  font-display: swap;
  src: url("../fonts/rouble.woff2") format("woff2"),
  url("../fonts/rouble.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto Condensed";

  font-display: swap;
  src: url("../fonts/roboto-condensed-light.woff2") format("woff2"),
  url("../fonts/roboto-condensed-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";

  font-display: swap;
  src: url("../fonts/roboto-condensed-v25-latin_cyrillic-regular.woff2") format("woff2"),
  url("../fonts/roboto-condensed-v25-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";

  font-display: swap;
  src: url("../fonts/roboto-condensed-v25-latin_cyrillic-700.woff2") format("woff2"),
  url("../fonts/roboto-condensed-v25-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Bebas Neue";

  font-display: swap;
  src: url("../fonts/bebas-neue-regular.woff2") format("woff2"),
  url("../fonts/bebas-neue-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Bebas Neue";

  font-display: swap;
  src: url("../fonts/bebas-neue-bold.woff2") format("woff2"),
  url("../fonts/bebas-neue-bold.woff") format("woff");
}
